/* Define custom font variables */
:root {
    --intro: 'Splash', cursive;
    --content1: 'Love Light', cursive;
    --content2: 'Babylonica', cursive;
    --text: 'Playfair Display', serif;
}

/* Set box-sizing property for all elements */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Reset default margin, padding, and set default font */
* {
    padding: 0;
    margin: 0;
}

/* Style the text selection */
*::selection {
    background-color: #d1362b;
    color: #e2e2e2;
}



/* Set global styles for the HTML and body */
html,
body {
    height: 100%;
    width: 100%;
    position: relative;
    font-family: var(--content1);
    /* overflow: hidden; */
    /* background-color: #d1362b; */
    /* Hide scrollbar initially */
}

#cursor {
    height: 20px;
    width: 20px;
    background-color: #f0e68c;
    border-radius: 50%;
    position: fixed;
    z-index: 500;
}

#cursorbck {
    height: 450px;
    width: 450px;
    background-color: #f0e68c4b;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 1;
}


a {
    text-decoration: none;
    font-style: normal;
}

/* Style for the preloader section */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #faf7f2;
    filter: brightness(97%);
}

/* Style for the preloader video */
.preloader video#loaderVideo {
    object-fit: cover;
    width: 600px;
    height: 600px;
}

.preloader .preloader-content h1 {
    text-align: center;
}

.preloader .preloader-content h1 span {
    font-size: 60px;
    opacity: 0;
    display: inline-block;
}

.preloader .preloader-content h1 span:nth-child(1) {
    animation: blink 1s infinite alternate 0.3s;
}

.preloader .preloader-content h1 span:nth-child(2) {
    animation: blink 1s infinite alternate 0.6s;
}

.preloader .preloader-content h1 span:nth-child(3) {
    animation: blink 1s infinite alternate 0.9s;
}


@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* Styles for the container and its show state */
.container {
    position: relative;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.container.show {
    opacity: 1;
    width: 100%;
}


/* Styles for the background video */
video#bgVideo {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(80%);
}

/* Add a class to scale and animate the opacity of the intro section */
.animate-intro {
    animation: introAnimation 1s ease-out;
}

/* Keyframe animation for scaling and animating the opacity of the intro section */
@keyframes introAnimation {
    from {
        opacity: 0;
        transform: scale(0);
        transform-origin: top center;
    }

    to {
        opacity: 1;
        transform: scale(1);
        transform-origin: top center;
    }
}

/* Styles for the viewport header section */
.viewport-header {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Styles for the heading in the viewport header */
.viewport-header h1 {
    color: #f0e68c;
    text-transform: uppercase;
    letter-spacing: 3vw;
    line-height: 1.2;
    font-size: 3vw;
    text-align: center;
    font-weight: 500;
    position: relative;
}

/* Styles for the span within the heading in the viewport header */
.viewport-header h1 span {
    color: #e2e2e2;
    display: block;
    font-size: 10vw;
    letter-spacing: -1.3vw;
    font-family: var(--intro);
}


/* Styles for the header within the main content container */

.header {
    background-color: #f0e68cef;
    display: none;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    column-gap: 31vw;
    opacity: 0;
    backdrop-filter: blur(25px);
}

.header.visible {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

.header .menu {
    cursor: pointer;
    background: none;
    border: none;
    transform: translateX(0);
    transition: transform 1s ease;
}

.header .menu.active {
    transform: translateX(160px);
}


/* Styles for the logo within the header */
.header .logo {
    padding: 5px 0;
    text-align: center;
}

/* Styles for the heading within the logo */
.header .logo h1 {
    margin-top: -15px;
    color: #000;
    font-weight: 500;
    font-size: 3.5vw;
    font-family: var(--content2);
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000);
}

/* Styles for the image within the logo */
.header .logo img {
    width: 3vw;
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000);
}

.control {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 1vw;
}

.cart-icon-container {
    position: relative;
    margin-left: auto;
}


.control .menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control .menu .cart-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 50%;
}

.cart-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-family: var(--text);
}

.cart-modal .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
}

.cart-modal .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.cart-modal.active {
    display: block;
}

#userBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: .5vw;
}

.profilePic {
    background-color: #000;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
}

.profilePic img {
    height: 40px;
    width: 40px;
}

.userName p {
    font-family: var(--text);
    font-size: 14px;
    text-align: end;
}

.userName span {
    font-family: var(--text);
    font-size: 22px;
    font-weight: 900;
}

.header .button button {
    background-color: transparent;
    color: #000;
    font-weight: 500;
    border-radius: 25px;
    border: 1px solid #000;
    padding: .5vw 1vw;
    font-size: 1.5vw;
    font-family: var(--content1);
    transition: all 0.2s ease-in;
}

.header .button button:hover {
    color: #fdec6e;
    background-color: #000;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transform: translateY(-5%);
    transition: all 0.2s ease-in;
}

.signInPopup {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 30%;
    height: 30%;
    background-color: #f0e68c;
    font-family: var(--text);
    box-shadow: 0px 0px 25px #f0e68c;
}

p#resultParagraph {
    padding: 2vw;
}

.signInPopup button {
    position: absolute;
    bottom: 0;
    margin-bottom: 2vw;
    padding: .5vw 1.5vw;
    border-radius: 25px;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
}

.signInPopup button:hover {
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}


#logoutPopup {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#logoutPopup .popup-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 30%;
    height: 30%;
    background-color: #f0e68c;
    font-family: var(--text);
    box-shadow: 0px 0px 25px #f0e68c;
}

#logoutPopup p#logoutResultParagraph {
    padding: 2vw;
}

#logoutPopup button.logoutButton {
    position: absolute;
    bottom: 0;
    margin-bottom: 2vw;
    padding: .5vw 1.5vw;
    border-radius: 25px;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
}

#logoutPopup button.logoutButton:hover {
    border: 1px solid #000;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}


.sidebar {
    position: fixed;
    height: 100vh;
    z-index: 3;
    top: 0;
    padding-top: 10vw;
    width: 0px;
    transition: all 0.5s ease;
    overflow: hidden;
    backdrop-filter: blur(25px);
    box-shadow: 4px 0 2px -2px #7571455e;
    opacity: 0;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    margin: 0 2vw;
    padding: 1vw 2vw;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #f7cf68a6;
    font-size: 1.2vw;
    font-style: italic;
    font-family: var(--text);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.sidebar a:hover {
    color: #fdec6e;
    text-shadow: 0px 0px 30px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transform: translateY(-5%);
    transition: all 0.2s ease-in;
}



/* login-box div */
.login-box {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100vh;
    background: transparent;
    background-size: cover;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    padding-top: 130px;
    backdrop-filter: blur(25px);
}

.box-content {
    height: 100%;
    width: 100%;
}

.box-content iframe {
    height: 100%;
    width: 100%;
    border: none;
}

main {
    background-image: linear-gradient(179deg, rgba(0, 0, 0, 1) 9.2%, rgba(127, 16, 16, 1) 103.9%);
}

.container,
.content-container,
section.horizontal {
    overflow-x: hidden;
}

.content-container {
    font-weight: 300;
    padding: 20px;
    transition: margin-left 0.5s ease;
    margin: 0;
    padding: 0;
}

.content-container section:last-child h1 {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
}

.content-container section:last-child p {
    margin-bottom: 100px;
    text-transform: capitalize;
}

.content-container .blank {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section h1 {
    text-align: start;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 100px;
    padding-left: 5vw;
    text-decoration: underline;
}

section p {
    text-align: center;
    font-size: 2px;
    background-color: #fdec6e;
}

section {
    width: 100%;
    height: 100%;
    position: relative;
    color: #e2e2e2;
}

section.horizontal {
    overflow: hidden;
}

section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
    display: flex;
    position: relative;
    z-index: 1;
    height: 100vh;
    padding-top: 5vw;
}


section.horizontal .item {
    margin: 15px;
    position: relative;
    flex: 0 0 500px;
    height: calc(100vh - 14vw);
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(255, 254, 254, 0.514);
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

section.horizontal .item .layer {
    position: absolute;
    padding: 0 80px;
    flex: 0 0 500px;
    height: 0;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #f0e68c);
    width: 100%;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1vw;
    line-height: 1.7;
    transition: height 0.5s;
    border-radius: 20px;
}

section.horizontal .item:hover .layer {
    text-align: center;
    height: 100%;
}

section.horizontal .item .layer .before {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

section.horizontal .item .layer .before+div {
    font-size: 18px;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: var(--text);
}

section.horizontal .item:before {
    content: '';
}

section.horizontal .item .priceDiv {
    font-family: var(--text);
    font-size: 20px;
    font-weight: 900;
}

section.horizontal .item .buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

/* Add these styles for buttons and input */
section.horizontal .item button {
    display: block;
    padding: 12px 24px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 25px;
}

section.horizontal .item button:hover {
    background-color: white;
    color: #000;
}

section.horizontal .item button:nth-child(2) {
    display: none;
    /* Initially hide the "Remove from Cart" button */
}

section.horizontal .item input {
    display: block;
    padding: 12px 24px;
    background-color: black;
    color: white;
    border: none;
    transition: background-color 0.3s;
    border-radius: 25px;
    width: 35%;
}

section.horizontal .item input:hover {
    background-color: white;
    color: #000;
}


section.horizontal .animation-wrap.to-right {
    counter-reset: item;
    float: left;
}

section.horizontal .animation-wrap.to-left {
    counter-reset: item 10;
    float: right;
}

section.horizontal .animation-wrap.to-right .item .layer .before {
    counter-increment: item;
    /* content: counter(item); */
}

section.horizontal .animation-wrap.to-left .item:before {
    counter-increment: item -1;
    /* content: counter(item); */
}



section.horizontal .animation-wrap .item:nth-child(2n+2) {
    align-items: flex-start;
}

section.horizontal .animation-wrap .item:nth-child(4n+4) {
    align-items: flex-end;
}


/*  footer section */
footer {
    width: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(237, 3, 32, 0.87) 20.8%, rgba(242, 121, 1, 0.84) 74.4%);
    overflow: hidden;
    color: black;
    position: relative;
    z-index: 2;
}

.footer-top {
    padding: 2vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

.footer-top a {
    text-decoration: none;
    color: #000;
    position: relative;
    z-index: 2;
}

.footer-top .logo {
    display: flex;
    text-align: center;
    align-items: center;
    column-gap: 5px;
}

.footer-top .logo:hover {
    transform: translateY(-10%);
    transition: transform .5s ease;
}

/* Styles for the footer within the logo */
.footer-top .logo h1 {
    margin-top: -15px;
    font-weight: 400;
    font-size: 4vw;
    font-family: var(--content2);
    -webkit-filter: drop-shadow(5px 5px 5px #79797983);
    filter: drop-shadow(5px 5px 5px #80808083);
}

/* Styles for the image within the logo */
.footer-top .logo img {
    width: 2vw;
    -webkit-filter: drop-shadow(5px 5px 5px #83838383);
    filter: drop-shadow(5px 5px 5px #8f8f8f83);
}

.footer-top button {
    border-radius: 50%;
    height: 4vw;
    width: 4vw;
    border: none;
    background-color: transparent;
    font-size: 3vw;
    font-weight: 900;
    transition: border .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--text);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.footer-top button:hover {
    border: 2px solid #d1362b;
    color: #fdec6e;
    box-shadow: 0px 0px 30px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background-color: #000;
    transform: translateY(-10%);
}

.footer-top button span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    padding-bottom: 5px;
}

.footer-top button:hover span {
    display: none;
}

.footer-top button:hover:before {
    content: "Top";
    font-weight: 500;
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-center {
    display: flex;
    justify-content: space-around;
    font-family: var(--text);
    background-color: rgba(255, 255, 255, 0.185);

}

.footer-center .items h1 {
    font-size: 10vw;
}

.footer-center .arrow h1 {
    font-size: 10vw;
}

.footer-center .items:hover~.arrow h1 {
    transform: translate(25%, -10%);
    transition: transform .5s ease;
}

.footer-center .items:hover {
    transform: translateY(-10%);
    transition: transform .5s ease;
}

.footer-center .address {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    justify-content: center;
}

.footer-center .address .location img {
    width: 2vw;
    height: 2vw;
}

.footer-center .address .location {
    display: flex;
    align-items: center;
    column-gap: 5px;
    position: relative;
    z-index: 2;
}

.footer-center .address .contact img {
    width: 2vw;
}

.footer-center .address .contact {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.footer-center .address .social img {
    width: 3vw;
}

.footer-center .address img:hover {
    transform: scale(1.2) translateY(-10%);
    transition: all .4s ease;
}

.footer-center .address .social {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.footer-bottom {
    margin-top: .5vw;
    text-align: center;
    font-family: var(--text);
    background-color: #00000048;
    padding: 1vw 0;
    position: relative;
    z-index: 2;
}

.footer-bottom h1 {
    font-size: 20px;
    text-decoration: underline;
}

.footer-bottom>p span {
    text-decoration: underline;
    color: #e2e2e2;
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}